{% extends "base.html" %}
{% load static %}
{% block title %}about{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>About Us:</h2>
		<!--<iframe src="{% static 'Clinical-Trials.gif' %}" width="1280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
		<!--<iframe src="{% static 'Clinical-Trials3.jpg' %}" width="1280" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        
		<p style="text-align:left">The ClinTwin360 is a Software as a Service (SaaS) firm based out of Cambridge, MA that offers a powerful digital platform to help sponsor organizations revolutionize the 
		clinical trials design, participants engagement and trial analytics. To improve the clinical trial process, ClinTwin360 leverages its digital platform for sourcing 
		participants by enabling a more sponsor-focused recruitment procedure, improves the awareness of clinical trials while also enriching clinical trial data with patient health data from wearables and the 
		providing the ability to analyze the data to support continuous improvement of clinical trials. <br/>
		
 </p>
 <iframe src="{% static 'Clinical-Trials.gif' %}" width="1280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	<h4 class=' stye="color: white" .text-secondary'>Our Locaton Map:</h4>
        
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.500069631266!2d-71.12372004997277!3d42.37449247908363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377682f3736c5%3A0x43ade0f28c0884d1!2s51%20Brattle%20Street%2C%2051%20Brattle%20St%2C%20Cambridge%2C%20MA%2002138%2C%20USA!5e0!3m2!1sen!2sin!4v1584291719577!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			
</div>
{% endblock %}

