{% extends "base.html" %}
{% load static %}
{% block title %}contact{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>Contact Us:</h2>
        <p style="text-align:left">
		
		If you are interested in knowing more about our platform and how it can revloutionize your clinical trials, 
		please call us or email us and our customer account  representative will schedule a meeting with you at the earliest
		to discuss your requirements!<br/><br/>
		<b>Head Office :</b><br>
		ClinTwin360 Inc<br>
		Suite 101, 51 Brattle St<br>
		Cambridge, MA 02138<br>
		<br>
		Phone: 666-777-8888 or 666-333-4444 <br>
		Fax: 666-111-2222<br>
		Email: info@clintwin360.com<br>
		<br>
		</p> 
		
		<h4 class=' stye="color: white" .text-secondary'>Our Location:</h4>
        
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.500069631266!2d-71.12372004997277!3d42.37449247908363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377682f3736c5%3A0x43ade0f28c0884d1!2s51%20Brattle%20Street%2C%2051%20Brattle%20St%2C%20Cambridge%2C%20MA%2002138%2C%20USA!5e0!3m2!1sen!2sin!4v1584291719577!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			
		
</div>

{% endblock %}