{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' stye="color: white" .text-secondary'>How Does It Work?</h2>
        <!--<iframe src="{% static 'Clinical-Trials.gif' %}" width="1280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <iframe src="{% static 'Clinical-Trials2.gif' %}" width="1280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p style="text-align:left">
		The major benefits of ClinTwin360 include: </br> 
 
1.	Reduced enrollment inefficiencies with a centralized and robust clinical trial matching service that is exposed to a larger participant pool of mobile phone users <br/>
2.	Enriches clinical trial data with participant biometrics that provide insights and improve trial effectiveness <br/>
3.	Optimizes clinical trial execution through analysis of a wide range of clinical trial and biometric data <br/>
 </p>
		</div>
{% endblock %}