<!--Page for the user to enter new password after clicking the link in the password reset email-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
        <h6 class='px-2' ><p><a style="color:white">Please enter (and confirm) your new password.</a></p></font>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1"><a style="color:white">New password:</label></td></a></font>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2"><a style="color:white">Confirm password:</label></td></a></font>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                
            </table>
			<button id="btn" type="submit" >Reset my password</button>
        </form>
    {% else %}
        <h6 class='px-2' ><p><a style="color:white">Password reset failed</a></p></font>
        <h6 class='px-2' ><p><a style="color:white">Sorry, the password reset link is invalid or has already been used once. Please request a new password reset link.</p></font>
    {% endif %}
<body id="bg" style="background-image: url('{% static 'img/home_bg.jpg' %}')";>
{% endblock %}