<!--Form used by the user to enter the email address to which thethe password reset email is sent to-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4 class='px-2' ><p><a style="color:white">Forgot your password?</a></p></font>
  <h6 class='px-2' ><p><a style="color:white">Please enter your email address below. You will receive an email instructions for re-setting your password.<a></p></font>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
	<button id="btn" type="submit" >Reset password</button>
  </form>
  
  <body id="bg" style="background-image: url('{% static 'img/home_bg.jpg' %}')";>
{% endblock %}