<!--Form for displaying message to user after user's email address has been collected-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h6 class='px-2' ><p><a style="color:white">We've emailed you the link for re-setting your password. In case the email does not arrive in a few minutes, please check your spam folder.</a></p></font>
<h6 class='px-2' ><p><a style="color:white">If clicking the link doesn't work, please copy and paste the URL in a new browser window instead</p></font>

  <body id="bg" style="background-image: url('{% static 'img/home_bg.jpg' %}')";>

{% endblock %}